sales_forecasting/data/*.csv

# Environment files anywhere in the project
**/.env



# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# Data
data/raw/*.csv
data/processed/*.csv

# Models
models/*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log