sales_forecasting/data/*.csv

# Environment files anywhere in the project
**/.env

# Covid Dashboard

India_Covid-19_AnalyticsDashboard/data/raw/
India_Covid-19_AnalyticsDashboard/data/processed/covid_ML_dataset.csv
India_Covid-19_AnalyticsDashboard/src/ingestion.py

India_Covid-19_AnalyticsDashboard/venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# Data
data/raw/*.csv
data/processed/*.csv

# Models
models/*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Spam pkl files
Email_Spam_Detection/models/X_test.pkl
Email_Spam_Detection/models/X_train.pkl
Email_Spam_Detection/models/y_test.pkl
Email_Spam_Detection/models/y_train.pkl

# Csv files
Email_Spam_Detection/data/raw/emails.csv
Email_Spam_Detection/data/processed/email_cleaned.csv
Email_Spam_Detection/data/processed/email_featured.csv