# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Model artifacts
artifacts/models/*
artifacts/*.pkl
artifacts/*.joblib

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db