pandas==2.3.0
numpy==2.3.1

plotly==6.1.2
dash==3.0.4
dash-bootstrap-components==2.0.4
dash-iconify==0.1.2

scikit-learn==1.7.0

prophet==1.1.7

geopandas==1.1.0
pycountry==24.6.1

matplotlib==3.10.3
seaborn==0.13.2

sqlalchemy==2.0.41

requests==2.32.4

schedule==1.2.2

joblib==1.5.1

jupyter==1.1.1
notebook==7.4.3